body {
	background-color: #bfbfbf;
	background-image: url("images/pattern.png");
	background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    

}

.contents {
	background-color: white;
	padding: 10px;
	border: 1px;
	border-style: dotted;;
	border-color: #bfbfbf;
}

#container {
	margin: 80px auto;
	width: 550px;
	background-color: white;
	padding: 30px 40px;
}


img {
	max-width: 100%;
}


h1, h2 {
	font-family: 'Patrick Hand SC', cursive;
}


h1 .fancy {
	font-family: 'Vollkorn', serif;
	font-size: 14pt;
}

body, p, ul {
	font-family: 'Vollkorn', serif;
	font-size: 10pt;
	text-align: left;
	line-height: normal;
	letter-spacing: normal;
}

a {
	color: #000000;
	text-decoration:none;
	padding: 10px 10px;
}

a:hover {
	color: #ffffff;
	background-color:#000000;
	text-decoration:none;
	font-family: 'Patrick Hand SC', cursive;
	text-transform: uppercase;

}

.item {
	padding: 10px;
	border: 1px;
	border-style: dotted;;
	border-color: #bfbfbf;
	margin: 20px 20px;
}



