	body {
		background-color: #50B4C0;
	}

#set{
	position: fixed;
	left: 100px;
	top:0;
	z-index: -100;
	width: 1100px;

}

#arrow {
	width: 100px;
	z-index: 10;
	position: fixed;
	right: 140px;
	top: 350px;
	opacity: .7;
	transition:width .2s;
	cursor: pointer;

}

#arrow:hover {
	width:110px;
	opacity: 1;
}
	#cover {
		width: 445px;
		height: 445px;
		background: no-repeat;
		background-size: 120%;
		position: fixed;
		top:38px;
		left:450px;
		opacity: .7;
		
	}

	#cover-wrap {
	
		display: inline-block;

	}

	.title {
		margin: 0 auto;
		width: 90%;
	}
	h2 {
		color: white;
		font-size: 30pt;
		-webkit-text-stroke-width: .5px;
   		-webkit-text-stroke-color: black;
	}

	audio{
		display: none;

	}

